<!doctype html>
<html lang="en">
<head>
    <title>ArtificialAcquaintances</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <!-- bootstrap/fontawesome/bulma css-->
    <link href="https://fonts.googleapis.com/css?family=Catamaran" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">

    <!-- custom css -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css"/>
</head>

<body>

<%- include('partialViews/newContactModal'); %>

<section class="hero is-dark is-bold">
    <div class="hero-body">
        <div class="container">
            <div style="display: flex; justify-content: space-between">
                <div class="column">
                    <h1 class="title is-size-2 font-catamaran">
                        Artificial Acquaintances
                    </h1>
                    <h2 class="subtitle is-size-4">
                        <%=`Welcome, ${name}!`%>
                    </h2>
                </div>
                <div class="column logout">
                    <a href="/contacts/logout">
                        <button class="button is-light is-pulled-right" onclick="isLoading(this)">
                        Logout
                    </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="level" style="margin-top: 1.5rem; display: flex; justify-content: space-between">
        <div>
            <button class="btn btn-success" type="button" onclick="toggleModal()">
                + Add New Contact
            </button>
        </div>
        <div>
            <div class="field has-addons">
                <p class="control">
                    <input class="input" id="searchField" type="text" placeholder="Search for contact...">
                </p>
                <p class="control">
				<button class="button is-success" onclick="if ('<%= contacts.length %>' > 0) doSearch(this, '<%= contacts[0].daddy %>'); else doSearch(this, ``)">
                        Go
                    </button>
                </p>
            </div>
        </div>
    </div>

    <div class="accordion" id="contactsAccordion">
        <% if (contacts.length == 0) { %>
            <%= "No contacts found!" %>
        <% } else {%>
            <% for (var i = 0; i < contacts.length; i++ ) { %>
                <% const contact = contacts[i]; %>
                <%- include('partialViews/singleContact', { index: i, contact: contacts[i] }); %>
            <% } %>
        <% }%>
    </div>
</div>

<script>


    function doSearch(e, uid) {
        var parameters = { search: $("#searchField").val(), uid: uid };

        if (!parameters.search) {
            $("#searchField").addClass("is-danger");
            return;
        }

        $("#searchField").removeClass("is-danger");
        $(e).addClass("is-loading");

        $.get( '/contacts/search', parameters, (data) => {
            console.log("somehow returned in the ajax call!");
            console.log(data);
            $(e).removeClass("is-loading");
        });
    }
</script>

</body>
</html>
